$gray: #52525c;
$red: #ff4444;

:root {
  --primary: #{$red};
  --primary-dark: #{darken($red, 10%)};
  --secondary: #{$gray};
  --secondary-light: #{lighten($gray, 10%)};

  --body-color: var(--secondary);
  --body-bg: #fff;
}
