@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'variables';

@keyframes sidebar {
  from {
    right: 100%;
  }
  to {
    right: 50vw;
  }
}

.sidebar-enter-active {
  animation: sidebar 0.5s;
}

.sidebar-leave-active {
  animation: sidebar 0.5s reverse;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color);
  line-height: 1.25rem;
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  background-color: var(--body-bg);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

input {
  font-family: 'Roboto';
  font-size: 0.875rem;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height: 70px;
  &-title {
    display: inline-flex;
    align-items: center;
    &-logo {
      height: 32px;
      width: 32px;
      margin-right: 0.5rem;
    }
  }
  i {
    color: var(--primary);
    font-size: 2rem;
  }
  &-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50vw;
    max-width: 400px;
    background-color: var(--gray);
    border-right: 0.5rem solid var(--primary);
  }
  &-searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0.125rem solid var(--gray);
    border-radius: 0.25rem;
    padding: 0.5rem;
    &:focus-within {
      outline: 0.125rem solid var(--gray);
    }
    button > i {
      font-size: 1rem;
    }
    input {
      background-color: transparent;
      border: none;
      flex-grow: 1;
      &:focus {
        outline: none;
      }
    }
  }
}

footer {
  background-color: var(--primary);
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem;
}
